.container-img-lines {
  border: 2px solid purple;
}

.container-first-line, .container-second-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.style-img {
  padding: 0.3rem;
}

.container {
  display: flex;
  position: relative;
}

.show {
  position: absolute;
  color: #f1f1f1;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  /* position: absolute; */
}

.title-style-card {
  color: #f1f1f1;
  position: relative;
}