.container-cards {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 1rem auto;
  margin-bottom: 190px;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.card-img-tec {
  background: white;
  display: flex;
  padding: 8px;
  margin: 20px;
  border-radius: 20px;
  width: 75px;
  height: 75px;
  box-shadow: 12px 11px 24px 2px rgba(0,0,0,0.69) ;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.card-img-tec:hover {
  transform: scale(1.1) ;
}