.container-footer {
  display: flex;
  background-color: #7f59e4;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
  bottom:0;
  left: auto;
  right: auto;
  padding: 0.5rem 0;
  height: 4rem;
}

.list-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
