.title-page {
  color: var(--green);
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  font-size: 36;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
}

.foto-perfil {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.container-pages {
  background-color: var(--cod-gray);
  top: 150px;
  position: relative;
  padding-top: 4rem;
  height: 70vh;
  /* border-radius: 40px 40px 0 0; */
}

.position-itens {
  margin-top: -125px ;

}

.description-text {
  width: 80vw;
  margin: 10px auto;
  font-size: 18px;
  color: var(--white);
  font-weight: lighter;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
}
