.container-project-screen {
  background-color: var(--cod-gray);
  top: 150px;
  position: relative;
  padding-top: 4rem;
  min-height: 70vh;
  border-radius: 40px 40px 0 0;
}

.title-projec-page {
  text-align: center;
  color: var(--green);
  margin: 20px;
}

.container-card-projects {
  display: flex;
  justify-content: space-around;
  position: relative;
  align-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 5rem;
}

.card-projects {
  background-color: aliceblue;
  height: 250px;
  width: 380px;
  margin: 21px;
  margin-bottom: 60px;
  border-radius: 16px;
  box-shadow: rgba(122, 114, 114, 0.5) 3px 3px 20px;
}

.card-projects img {
  height: 225px;
  width: 100%;
  border-radius: 16px 16px 0 0;
}


div > p {
  color: var(--cod-gray);
  font-weight: bolder;
  text-align: center;
}
